# dependencies
node_modules
contracts/openzeppelin
.env
typechain
typechain-types

# Hardhat files
cache
artifacts

# testing
coverage
coverage.json

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.lh
error.log